
 #f1capcontent {
	padding-left: 20px;   /*### added */
	padding-right: 10px;   /*### added */
	padding-bottom: 3ex;   /*### added */
	}
		
#capcontent {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

#top-line {
	position: fixed;
	top: 31px;
	left: 5px;
	right: 5px;
	height: 0px;
	border-top: 1px solid black;
 }

.capwindow {
	position: absolute;
	top: 32px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: auto;
}

#doccontent {

}
/* Make sure synced with NewSpeaker command and attribute name */
p[cccnewspeaker=show]::before {
/*
	content: attr(cccspeaker);
	background-color: #FFFFFF;
	color: #FF0000;
	font-weight: bold;
*/
	content: attr(cccspeaker) ">>";
	text-decoration: none;
	/*background-color: #FFFFEE;
	*/
	color: #FF0000;
	/*	padding: 2px 6px 2px 6px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;	

border-radius: 7px;
	*/
	margin-right: 10px;

}

p[cccnextpara]::after {

/*	
\00B6
content: "\00B6";
&#182 
	background-color: #FFFFFF;
	color: #FF0000;
	font-weight: bold;
	
*/
	content: attr(cccnextpara);
	text-decoration: none;
	background-color: #FFFFEE;
	color: #FF0000;
	padding: 2px 6px 2px 6px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;	
	margin-left: 10px;
	border-radius: 7px;

}

.overlay {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:50%;
     text-align:center;
     z-index: 1000;
     background-image:url(dark.png);
}

.overlay div {
	width:300px;
	margin: 100px auto;
	background-color: #fff;
	border:1px solid #000;
	padding:15px;
	text-align:center;

}
.overlay div .ov1text{
     text-align:left;
}


